.player__time {
  position: relative;
}

.player__progress {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.player__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 17px;
  width: 17px;
  margin-top: -7px;
  border-radius: 50%;
  background: #d9cd8d;
  cursor: pointer;
}
